*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
#card{
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;

}
#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
    

}
#card h1{
    font-size: 25px;
    margin: 20px 50px;
     
}

#card h5{
    font-size: 25px;
    color: red;
    margin: 20px 70px;
}
#card button{
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    padding: 15px 80px;
    border-radius: 50px;
    border: none ;
    cursor: pointer; 
       
}
